.grid {
  width: 100%;
}

.col-1-5 {
  width: 20%;
}

.col-3-10 {
  width: 30%;
}

.col-7-10 {
  width: 70%;
}

[class*='col-'] {
  float:left;
  min-height:1px;
  margin-right: 20px;
}

[class*='col-']:last-of-type {
  margin-right: 0;
}
