@import './ionicons/ionicons';
@import './custom/Nav.scss';
@import './custom/search.scss';
@import './custom/popover.scss';
@import './custom/toolbar.scss';
@import "./custom/songcard.scss";
@import "./custom/songs.scss";
@import "./custom/toggle-play-button.scss";
@import "./custom/player.scss";
@import "./custom/reset.scss";
@import "./custom/song.scss";
@import "./custom/content.scss";
@import "./custom/grid.scss";
@import "./custom/card.scss";
@import "./custom/waveform.scss";
@import "./custom/songlistitem.scss";
@import "./custom/comment.scss";
@import "./custom/spinner.scss";

body {
    margin: 0px;
    padding: 0px;
}

.clearfix {
  overflow:auto;
}
