@import './ionicons/ionicons';
@import './custom/Nav.scss';
@import './custom/search.scss';
@import './custom/popover.scss';
@import './custom/toolbar.scss';
@import "./custom/songcard.scss";
@import "./custom/songs.scss";
@import "./custom/toggle-play-button.scss";

body {
    margin: 0px;
    padding: 0px;
}

.clearfix {
  overflow:auto;
}
